body {
    background-color: #f8f9fa;
}

.card-header {
    background-color: transparent;
    border-bottom: none;
}

.title {
    color: #0d6d66;
}

.queue-box {
    
    font-weight: bold;
    background-color: #0d6d66;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

.queue-box2 {
    background-color: #07b3a828;
    color: black;
    padding: 15px;
    border-radius: 10px;
    text-align:start;
    border: 1px solid #24f8ea;
    
}